.main-layout {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}